functions-framework==3.9.2
cloudevents==1.11.0
google-cloud-aiplatform[agent_engines,adk]==1.119.0
google-adk==1.15.1
google-cloud-bigquery[pandas]==3.37.0
google-cloud-logging==3.12.1
google-cloud-storage==2.19.0
numpy
python-dateutil
pytz
tzdata
asyncio
