functions-framework==3.9.2
cloudevents==1.11.0
google-cloud-aiplatform[agent_engines]==1.126.1
google-adk==1.18.0
google-cloud-bigquery[pandas]==3.38.0
google-cloud-logging==3.12.1
google-cloud-storage==3.4.1
google-cloud-pubsub==2.31.1
numpy
python-dateutil
pytz
tzdata
asyncio
