functions-framework==3.10.2
cloudevents==1.13.0
google-cloud-aiplatform[agent_engines]==1.165.1
google-cloud-bigquery[pandas]==3.45.2
google-cloud-logging==3.16.3
google-cloud-storage==3.15.0
google-cloud-pubsub==2.41.0
numpy==2.5.3
python-dateutil==2.9.0.post0
pytz==2026.4
tzdata==2026.4
